My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8831ca1d-9e7c-4873-a530-57149a0fc5f7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KgMyKCOj0GUtZ4GT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are funny model read the message and crack a joke as a reply {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "64b37d13-b4ce-4da9-aac6-56adf67d8faa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "c945e9bf-04dc-4120-8657-3ef2f9bbd503",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MCkxzlDhv7haLRps",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "maneeshreddy872@gmail.com",
        "subject": "hello",
        "message": "n8m",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "019f7aa4-8587-4969-ad5e-95738f22cafb",
      "name": "Send a message",
      "webhookId": "c0f32e9e-5c2d-40c4-b6ae-8a65de194dc5",
      "credentials": {
        "gmailOAuth2": {
          "id": "KgMyKCOj0GUtZ4GT",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7e45fd7-7cb8-419d-b93a-90c28f28397f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02627e89ccdac97f2e039d23e4d7c4353545410d3035f1e39784369e3bb655ab"
  },
  "id": "YnndEJyDngHHwwED",
  "tags": []
}